.margin{
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
}



.LandingBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    height: 100%;
    /* z-index: -1; */
    /* background-image: url(../img/58137-scaled.jpg);  */
    background-image: url(../img/LandingPage6.jpg);
    /* background-image: url(https://image.freepik.com/free-vector/people-group-different-job-set_9026-25.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    overflow-x: hidden;
}